footer {
  width: 88vw;
  height: min-content;
  max-width: 700px;
  margin: 0 auto 2rem auto;
  background-color: black;
  border-radius: 10px;
  color: var(--light);
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
}

.footer-icons li {
  list-style: none;
  font-size: 2.2rem;
  padding: 0;
  margin: 1rem 0;
  text-align: center;
  opacity: 0.8;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.footer-icons li:hover {
  opacity: 1;
}

.copyright {
  text-align: center;
  padding-bottom: 0.1rem;
}
