.base-1 {
  transform: translateY(0%);
  opacity: 0;
  animation: base-intro var(--base-1-loading-time) ease-in
    var(--base-2-wait-time);
  animation-fill-mode: forwards;
}

.base-2 {
  transform: translateY(0%);
  opacity: 0;
  animation: base-intro var(--base-2-loading-time) ease-in
    var(--base-2-wait-time);
  animation-fill-mode: forwards;
}

.base-3 {
  transform: translateY(0%);
  opacity: 0;
  animation: base-intro var(--base-3-loading-time) ease-in
    var(--base-3-wait-time);
  animation-fill-mode: forwards;
}

.intro-1 {
  transform: translateY(0%);
  opacity: 0;
  animation: base-intro 500ms ease-in 0s;
  animation-fill-mode: forwards;
}

.intro-2 {
  transform: translateY(0%);
  opacity: 0;
  animation: base-intro 500ms ease-in 500ms;
  animation-fill-mode: forwards;
}

.intro-3 {
  transform: translateY(0%);
  opacity: 0;
  animation: base-intro 500ms ease-in 1000ms;
  animation-fill-mode: forwards;
}

.arrow-down {
  font-size: 3rem;
  text-align: center;
}

@media screen and (min-width: 930px) {
  .arrow-down {
    position: absolute;
    left: 45%;
    bottom: 10%;
  }
}

@keyframes base-intro {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
