@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Gothic:wght@400;700;800&family=Bona+Nova&display=swap");

:root {
  --primary-font: "Nanum Gothic", sans-serif;
  --secondary-font: "Nanum Gothic Coding", monospace;
  --header-font: "Bona Nova", serif;

  --dark-red: #1f1312;
  --light: #f0ebe0;
  --green: #2e4b4d;

  --linkHoverTransition: 0.1s ease-in-out;
  --btnHoverTransition: 0.2s ease-in-out;

  --loading-h1-loading-time: 250ms;
  --loading-h1-wait-time: 500ms;

  --loading-wrapper-loading-time: 500ms;
  --loading-wrapper-wait-time: 2500ms;

  --base-1-loading-time: 500ms;
  --base-1-waiting-time: 2500ms;

  --base-2-loading-time: 500ms;
  --base-2-wait-time: 3000ms;

  --base-3-loading-time: 500ms;
  --base-3-wait-time: 3500ms;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body,
html {
  font-family: var(--primary-font);
  overflow-x: hidden;
  padding: 0;
  margin: 0 auto;
  width: 100vw;
  background-color: var(--light);
  position: relative;
  max-width: 1300px;
}

a {
  color: unset;
  text-decoration: none;
}

.header-wrapper {
  width: 88vw;
  margin: 0 auto;
  max-width: 1300px;
}

.largescreen-icons-wrapper {
  display: none;
}

.intro-wrapper {
  background-color: var(--green);
  border-radius: 10px;
  margin: 0 auto 0.8rem auto;
  font-family: var(--secondary-font);
  color: var(--light);
  min-height: 350px;
  padding: 0.8rem 0;
  line-height: 2.1rem;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* text-transform: uppercase; */
  position: relative;
}

.intro-wrapper h1 {
  font-weight: 400;
  margin: 1rem;
  padding: 0.5rem;
  max-width: 500px;
  letter-spacing: 0.1rem;
}

.intro-wrapper p {
  font-weight: 400;
  margin: 1rem;
  padding: 0.5rem;
  max-width: 500px;
  letter-spacing: 0.1rem;
}

.header-img-wrapper {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
  max-width: 450px;
  overflow: hidden;
  border-radius: 10px;
}

.header-img {
  border-radius: 10px;
}

.intro-btn-wrapper {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.black-btn {
  color: var(--light);
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  transition: var(--btnHoverTransition);
  cursor: pointer;
}

.black-btn:hover {
  color: black;
  background-color: var(--light);
}

/* main */

.main-content {
  width: 88vw;
  margin: 7rem auto;
  max-width: 1300px;
}

.main-header {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  max-width: 450px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto 6rem auto;
  padding: 0.5rem 0;
}

@media screen and (min-width: 930px) {
  .header-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 1%;
    align-items: center;
    justify-content: space-between;
    height: 93vh;
    max-height: 450px;
  }

  .largescreen-icons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light);
    background-color: black;
    height: 100%;
    width: 8.5rem;
    border-radius: 10px;
  }

  .largescreen-icons {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .largescreen-icons li {
    list-style: none;
    font-size: 2.2rem;
    padding: 0;
    margin: 1rem 0;
    text-align: center;
    opacity: 0.8;
    transition: 0.1s ease-in-out;
    cursor: pointer;
  }

  .largescreen-icons li:hover {
    opacity: 1;
  }

  .intro-wrapper {
    height: 100%;
    width: 45%;
    margin: 0;
  }

  .intro {
    text-align: left;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .black-btn {
    font-size: 1.5rem;
    padding: 0.5rem 2.4rem;
    cursor: pointer;
  }

  .header-img-wrapper {
    margin: 0;
  }
}

@keyframes intro-h1 {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
