nav {
  width: 88vw;
  height: 4rem;
  max-width: 1300px;
  margin: 0.8rem auto;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  border-radius: 10px;
  position: relative;
  z-index: 7;
}

.nav-lists-wrapper {
  position: absolute;
  top: 4.8rem;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background-color: black;
  border-radius: 10px;
  color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 20%;
  transform: translateY(100vh);
  transition: transform 0.3s ease-in;
  opacity: 0;
}

.active {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.3s ease-in;
}

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-items li {
  padding: 20% 0;
  margin: 0;
  font-size: 1.9rem;
  text-transform: uppercase;
  color: var(--light);
}

.smallscreen-icons-wrapper {
  width: 70vw;
  height: 50px;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(240, 235, 224, 0.2);
  border-radius: 10px;
}

.smallscreen-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.smallscreen-icons li {
  padding: 0 1.2rem;
  margin: 0;
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  opacity: 0.8;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

/* Hamburger Icon */

.nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  opacity: 0.8;
}

.nav-icon:focus,
.nav-icon:active {
  border: none;
  background-color: unset;
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 0.4rem;
  width: 100%;
  background: var(--light);
  border-radius: 10px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

@media screen and (min-width: 930px) {
  .close-btn,
  .smallscreen-icons-wrapper,
  .smallscreen-icons,
  .nav-icon,
  .hide-li {
    display: none;
  }

  nav {
    padding: 0 2rem;
    margin-bottom: 3rem;
  }

  .nav-lists-wrapper {
    position: static;
    transform: translateX(0);
    opacity: 1;
    flex-direction: row;
    padding: 0;
    background-color: unset;
    color: black;
    justify-content: flex-end;
    width: 50vw;
    height: inherit;
    border-radius: 10px;
    align-items: center;
  }

  .nav-items {
    flex-direction: row;
    text-align: right;
    padding: 0.5rem 0;
  }

  .nav-items li {
    font-size: 1.5rem;
    color: var(--light);
    margin: 0 0rem 0 6rem;
    transition: var(--linkHoverTransition);
    cursor: pointer;
    padding: 0;
  }

  .nav-items li:hover {
    color: #cf8d88;
    transform: translateY(-2%);
  }

  .logo-wrapper h1 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -0.5rem;
    padding: 0;
    margin: 0;
    text-align: right;
  }
}
